:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --green:#7ED321;
  --bg: #F8E71C;
  --font-headline:'Bangers', cursive;
  --font-secundary:'Bowlby One SC', cursive;
  --font-body:'Verdana', cursive;

}

h1{
  font-family: var(--font-headline);
} 
  
h2{
  font-family: var(--font-secundary);
} 


h1,
h2 {
  text-align: center;
}
body{
  background-color: lightyellow;
}
main {
  max-width: 500px;
  margin: 20px auto 20px auto;
  background-color: var(--green);
  padding:25px;
  border-radius: 15px;
  box-shadow: 5px 3px 5px var(--white);
}
footer{
  margin:auto;
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.logo {
  line-height: 60px;
  max-width: 500px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
  margin: auto;
  padding: 0;
}

.logo img {
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
}

.logo a {
  text-decoration: none;
  color: var(--font-body);
  width: 50%;
  padding: 0;
  margin: 0;
}

.logo a .highlight {
  padding-left: 10%;
  margin: 0;
}
.config-game {
  max-width: 90%;
  margin: auto;
  font-family:  var(--font-body);
}

.config-game form {
  margin: auto;
  text-align: center;
}

.levelSelector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 10px auto 10px auto;
  border-bottom: solid;
  padding:10px
}
.levelSelector .levelLabels {
  display: flex;
  justify-content: left; /* Alinea las etiquetas a la izquierda */
  width: 100%; /* Ocupa todo el ancho disponible */
  padding-left: 20%;
}

.operationSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 10px auto 10px auto;
  border-bottom: solid;
  padding:10px
}

.operationLabels{
  margin:5px;
}

.maxNumber {
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 10px auto 10px auto;
}

input[type=number] {
  font-size: 1.5em;
  text-align: center;
  border-radius: 10px;
  width: 90%;
  margin:auto;
}

input[type=text] {
  display: block;
  width: 90%;
  font-size: 2em;
  text-align: center;
  border-radius: 10px;
  margin:auto;
}

label {
  margin: auto;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  
}


.operationImage {
  border-radius: 5px;
  max-width: 60px;
  height: auto;
  box-shadow: 0 0 3px .5px #610111;
}


/* HIDE RADIO */
.operationRadio,
.answerRadio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}


.submitBtn {
  cursor: pointer;
  background-image:var(--bg);
  background: var(--bg);
  color: red;
  font-size: 2em;
  border-style: none;
  border-radius: 30px;
  padding: 10px 20px;
  margin: auto;
}


/* IMAGE STYLES */
.operationRadio~.operationImage,
.operationRadio~.operationImage.checked {
  cursor: pointer;
  transition: opacity .5s ease-in-out;
}

/* CHECKED STYLES */
.operationRadio:checked~.operationImage {
  opacity: 0;
}

.operationRadio:checked~.operationImage.checked {
  opacity: 1;
  animation: reveal 1s;
}

.operationRadio:checked+.operationImage.checked,
.operationRadio:not(:checked)~.operationImage {
  display: block;
}

.operationRadio:not(:checked)+.operationImage.checked,
.operationRadio:checked~.operationImage {
  display: none;
}


.alert {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(rgb(190, 236, 190), lightgreen);
  margin:10px auto 10px auto;
  max-width:70%;
  box-shadow: 2px 2px 5px rgb(122, 202, 122);
  border-radius: 10px;
}

.closeAlert {
  cursor: pointer;
  padding: 10px;
}

.closeAlert:hover {
  background-color: red;
  color: white;
}

.questionForm {
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.questionDiv{
  font-family: var(--font-headline);
  font-size: 2em;

  margin:auto;
  }

.question{
  margin:auto;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  max-width:60%;
  padding: 20px;
  box-shadow: 2px 3px 5px darkcyan;
}

.question,.answerLabel{
  border-color:darkcyan;
}

 

.answerDiv{
  width: 80%;
  display: flex;
  flex-direction: column;

}


.hint{
  margin:5px;
  width:60px;
  height:auto;
  position:absolute;
  top:0;
  right:0;
}

.answerLabel{
  font-family: var(--font-headline);
  font-size: 2em;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  max-width:60%;
  width: 100%;
  margin:10px auto 10px auto;;
  padding: 20px;
  box-shadow: 2px 3px 5px darkcyan;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 100px;
  aspect-ratio: 1;
  display: flex;
  transform-origin: 0% 150%;
  animation: l20-0 2s infinite linear;
  margin:auto;
}

.loader:before,
.loader:after {
  content: "";
  flex: 1;
  background: #f03355;
  animation: l20-1 1s infinite linear alternate;
  border-radius: 100px 0 0 100px;
  transform-origin: 100% 100%;
}

.loader:after {
  border-radius: 0 100px 100px 0;
  transform-origin: 0% 100%;
  --s: -1;
}

#endgame-buttons, .score-box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.score-box p {
  background-image: linear-gradient(to right, lightyellow,rgba(255, 255, 224, 0.87));
  font-size: 1.25em;
  padding:20px;
  border-radius: 10px;
  text-align: center;
}
#endgame-buttons .submitBtn{
  margin-bottom:10px;
  font-size:1.25em;
}
.submitBtn:visited, .submitBtn{
 /* color:white;*/
  text-decoration: none;
}
.submitBtn p{
  margin: 0;
}



/* Define la animación para una respuesta correcta */
@keyframes correctAnswerAnimation {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #a3d977; /* Color verde claro */
  }
  100% {
    background-color: #fff;
  }
}

/* Define la animación para una respuesta incorrecta */
@keyframes incorrectAnswerAnimation {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #f08080; /* Color rojo claro */
  }
  100% {
    background-color: #fff;
  }
}

.correct-answer {
  animation: correctAnswerAnimation 1s ease;
}

.incorrect-answer {
  animation: incorrectAnswerAnimation 1s ease;
}

/* Ocultar el popup por defecto */
#popup.hidden {
  display: none;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}




