:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --green:#7ED321;
  --yellow: #F8E71C;
  --font-headline:'Bangers', cursive;
  --font-secundary:'Bowlby One SC', cursive;
  --font-body:'Verdana', cursive;

}

h1{
  font-family: var(--font-headline);
} 
  
h2{
  font-family: var(--font-secundary);
} 


h1,
h2 {
  text-align: center;
}
body{
  background-color: var(--white);
}
main {
  max-width: 500px;
  margin: 20px auto 20px auto;
  background-color: var(--green);
  padding:25px;
  border-radius: 15px;
  box-shadow: 5px 3px 5px var(--white);
}
footer{
  margin:auto;
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.logo {
  line-height: 60px;
  max-width: 500px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
  margin: auto;
  padding: 0;
}

.logo img {
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
}

.logo a {
  text-decoration: none;
  color: var(--font-body);
  width: 50%;
  padding: 0;
  margin: 0;
}

.logo a .highlight {
  padding-left: 10%;
  margin: 0;
}
.config-game {
  max-width: 90%;
  margin: auto;
  font-family:  var(--font-body);
}

.config-game form {
  margin: auto;
  text-align: center;
}

.levelSelector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 10px auto 10px auto;
  border-bottom: solid;
  padding:10px
}
.levelSelector .levelLabels {
  display: flex;
  justify-content: left; /* Alinea las etiquetas a la izquierda */
  width: 100%; /* Ocupa todo el ancho disponible */
  padding-left: 20%;
}

.operationSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 10px auto 10px auto;
  border-bottom: solid;
  padding:10px
}

.operationLabels{
  margin:5px;
  transition: background-color 0.5s; 
  position: relative;
}

.operationLabels:hover { 
  transform: scale(1.2);
  background-color: rgba(128, 128, 128, 0.5);  
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

 

input[type=number] {
  font-size: 1.7em;
  text-align: center;
  border-radius: 5px;
  width: 90%;
  margin:auto;
}

input[type=text] {
  display: block;
  width: 90%;
  font-size: 2em;
  text-align: center;
  border-radius: 10px;
  margin:auto;
}

label {
  margin: auto;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  
}


.operationImage {
  border-radius: 5px;
  max-width: 60px;
  height: auto;
  box-shadow: 0 0 3px .5px #610111;
}


 
.operationRadio,
.answerRadio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}


.submitBtn {
  cursor: pointer;
  font-family: var(--font-headline);
  background-image:var(--yellow);
  background: var(--yellow);
  color: var(--blue);
  font-size: 2.1em;
  border-style: none;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  margin: auto;
}


 
.operationRadio~.operationImage,
.operationRadio~.operationImage.checked {
  cursor: pointer;
  transition: opacity .5s ease-in-out;
}

 
.operationRadio:checked~.operationImage {
  opacity: 0;
}

.operationRadio:checked~.operationImage.checked {
  opacity: 1;
  animation: reveal 1s;
}

.operationRadio:checked+.operationImage.checked,
.operationRadio:not(:checked)~.operationImage {
  display: block;
}

.operationRadio:not(:checked)+.operationImage.checked,
.operationRadio:checked~.operationImage {
  display: none;
}

 

.questionForm {
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative;
}
.questionDiv{
  font-family: var(--font-headline);
  font-size: 2em;

  margin:auto;
  }

.question{
  margin:auto;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  max-width:60%;
  padding: 20px;
  box-shadow: 2px 3px 5px darkcyan;
}

.question,.answerLabel{
  border-color:darkcyan;
}

 

.answerDiv{
  width: 80%;
  display: flex;
  flex-direction: column;
  font-family: var(--font-body);
  font-size: 2em ;
  color: var(--blue);
}


.hint{
  margin:5px;
  width:60px;
  height:auto;
  position:absolute;
  top:0;
  right:0;
}

.answerLabel{
 
  font-size: 1.3em;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  max-width:100%;
  width: 100%;
  margin:10px auto 10px auto;;
  padding: 10px;
  box-shadow: 2px 3px 5px var(--blue);
}

.answer {
  font-family:var(--font-headline);
  background-color: var(--yellow);
  color:var(--blue);
}

.answer:hover {
 
  transform: scale(1.05);
  background-color: darkblue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.answer.active {
  background-color: #45a049;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 100px;
  aspect-ratio: 1;
  display: flex;
  transform-origin: 0% 150%;
  animation: l20-0 2s infinite linear;
  margin:auto;
}

.loader:before,
.loader:after {
  content: "";
  flex: 1;
  background: #f03355;
  animation: l20-1 1s infinite linear alternate;
  border-radius: 100px 0 0 100px;
  transform-origin: 100% 100%;
}

.loader:after {
  border-radius: 0 100px 100px 0;
  transform-origin: 0% 100%;
  --s: -1;
}

#endgame-buttons, .score-box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.score {
  padding-right: 10px;
}

.score-box p {
  background-image: linear-gradient(to right, lightyellow,rgba(255, 255, 224, 0.87));
  font-size: 1.25em;
  padding:20px;
  border-radius: 10px;
  text-align: center;
}
#endgame-buttons .submitBtn{
  margin-bottom:10px;
  font-size:1.25em;
}
.submitBtn:visited, .submitBtn{
 /* color:white;*/
  text-decoration: none;
}
.submitBtn p{
  margin: 0;
}
/*Numero de consulta*/
.questionId {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;  
  font-size: 2em;  
  color: #333;
  font-family:  var(--font-body);

}

/* Define la animación para una respuesta correcta */
@keyframes correctAnswerAnimation {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #a3d977; /* Color verde claro */
  }
  100% {
    background-color: #fff;
  }
}

/* Define la animación para una respuesta incorrecta */
@keyframes incorrectAnswerAnimation {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #f08080; /* Color rojo claro */
  }
  100% {
    background-color: #fff;
  }
}

.correct-answer {
  animation: correctAnswerAnimation 1s ease;
}

.incorrect-answer {
  animation: incorrectAnswerAnimation 1s ease;
}

.hidden {
  display: none;
}
/* end of animation*/

/* Ocultar el popup por defecto */
/* Popup container */
.popup {
  position: fixed; /* Fija el popup en la pantalla */
  top: 0;
  left: 0;
  width: 100vw;  
  height: 100vh;  
  background-color: rgba(0, 0, 0, 0.5);  
  display: flex;  
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  transition: opacity 0.3s ease;
}

.popup.hidden {
  display: none; /* Oculta el modal cuando es necesario */
}

/* Card flipping container */
.popup-card {
  position: relative;
  width: 350px; /* Ajusta el ancho según sea necesario */
  height: 200px; /* Ajusta la altura según sea necesario */
  perspective: 1000px; /* Profundidad para el efecto de flip */
}

/* Card front and back */
.popup-card-front,
.popup-card-back {
  position: absolute;
  width: 100%;
  height: 80%;
  backface-visibility: hidden; /* Oculta el reverso cuando se voltea */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px; /* Bordes redondeados */
  font-family: var(--font-body);
}

/* General styles for the popup content */
.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
 /* justify-content: space-between;*/
  height: 100%;
  padding: 20px;
}


 
/* Style for the alias (first <p> tag) */
.popup-card-front p:first-of-type , 
.popup-card-back  p:first-of-type{
  margin: 0;
  padding: 0;
  font-size: 2.2em; /* Ajusta según sea necesario */
  text-align: center;
  color: var(--blue);
  font-weight: bold;
  width: 100%;
}

/* Style for the question (second <p> tag) */
.popup-card-front p:nth-of-type(2),
.popup-card-back p:nth-of-type(2)  {
 /* margin-top: 1cm;*/
  text-align: left;
  width: 100%;
  font-size: 1.5em; /* Ajusta según sea necesario */
  color: var(--blue);
}

/* Style for the buttons */
.popup-card-front button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

#confirmButton {
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
}

#cancelButton {
  background-color: #f44336; /* Red */
  color: white;
  border: none;
}

/* Container for the buttons to ensure they are centered */
.popup-card-front .button-container ,
.popup-card-back .button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

/* Card flipping animation */
.popup-card {
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.popup-card.flip {
  transform: rotateY(180deg);
}

/* Front side styling */
.popup-card-front {
  background-color: #fff; /* Fondo blanco para el contenido del modal */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Sombra para darle profundidad */
  text-align: center;
}

/* Back side styling */
.popup-card-back {
  background-color: #f8f9fa; /* Fondo más claro para el reverso */
  transform: rotateY(180deg); /* Gira el reverso 180 grados */
  text-align: center;
}

.popup-card-back p {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  text-align: center;
  width: 100%;
}
 

#restartGame{

  display: block;
}